<div class="gifs-container">
  <img class="gif" src="/gifs/gif1.gif" width="200" height="200">
  <img class="gif" src="/gifs/gif2.gif" width="200" height="200">
  <img class="gif" src="/gifs/gif3.gif" width="200" height="200">
  <img class="gif" src="/gifs/gif4.gif" width="200" height="200">
  <img class="gif" src="/gifs/gif5.gif" width="200" height="200">
  <img class="gif" src="/gifs/gif6.gif" width="200" height="200">
  <img class="gif" src="/gifs/gif7.gif" width="200" height="200">
  <img class="gif" src="/gifs/gif8.gif" width="200" height="200">
  <img class="gif" src="/gifs/gif9.gif" width="200" height="200">
</div>
